*{
  margin: 0;
  box-sizing: border-box;
 
}

.inicio{
  background-image: url(/assets/Background_Intro.png);
  background-repeat: no-repeat;
  justify-items: center;
  background-size: cover;
  height: 46.875rem;
  padding-top: 5rem;
}

.header{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: .1875rem solid #E3646E;
  
  position: relative;
  margin-bottom: 3.5rem;

  .foto{ 
    
    position: absolute;
    top: 0.4375rem ;
    left: 0.5rem;
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
  }
  .vector{
    position: absolute;
    left: 70%;
    top: 70%;
  }
}

.escrita {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 42.5rem ;
  margin-bottom: 5rem;
  
  h2 span{
    
    color: #E3646E;
  }
  
  h1{
    margin-top: .5rem;
  }

  p{
    margin-top: 1.25rem;
  }
}

.tags{
  display:flex;
  flex-direction:column;
  align-items: center;
  gap: 6.375rem;
}
